.all-cards {
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.all-cards .card {
  /* background-color: #000;  */
  /* color: #fff; */
  border: 1px solid #d8d8d8;
  border-radius: 0.5rem;
  margin: 15px;
  max-width: 290px;
}

.all-cards .card .mycard-img {
  width: 100%;
}

.all-cards .card .card-title {
  padding: 15px;
}

.all-cards .card h1 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.all-cards .card p {
  text-align: center;
  margin-top: 0;
}

.reload-btn {
  display: block;
  margin: 0 auto 20px;
  color: #fff;
  background-color: rgb(255, 102, 0);
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  border-radius: 7px;
  border: none;
  padding: 7px 14px;
  cursor: pointer;
}


@media screen and (max-width: 358px) {
  .all-cards {
    margin: 0px;
  }
}



/* Progressive image code */
.loading {
  filter: blur(10px);
  clip-path: inset(0);
}

.loaded {
  filter: blur(0px);
  transition: filter 0.5s linear;
}

.venue__thumbnail {
  display: block;
  margin: auto;
  border-radius: 40px;
  object-fit: cover;
  pointer-events: none;
  transition: transform .3s;
  width: 500px;
  min-height: 230px;
  max-height: 230px;
  overflow: hidden;
}


/* loader icon css */
.all-cards .loader-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 94px);
}

.all-cards .loader-div .loader-icon {
  font-size: 72px;
  color: #13007d;
  animation: icon-rotation 2s infinite linear;
}


@keyframes icon-rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}




/* SLIDER NIGHT MODE BUTTON */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}